@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>miPT was set up as a tool for Personal Trainers to provide an easy way for their clients to
    view their upcoming workouts, and also keep track of the progress they have made.</p>
