@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Limelawn Rise<br />
    Clonsilla, Dublin 15<br />
    <abbr title="Phone">P:</abbr>
    08735 26292
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:positivefitnessdublin@gmail.com">positivefitnessdublin@gmail.com</a><br />
</address>