<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>



  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>






  <appSettings>
    <add key="userversion" value="Test(!!DATA ENTERED WILL NOT BE PERMANENTLY SAVED!!)" />
    <add key="htmltopdf.licensekey" value="+dLI2cjZzczI2c/XydnKyNfIy9fAwMDA" />
    <add key="TravelCardPDFShare" value="\\tn-srv3\travelcardpdf\" />
    <add key="pdfWorkFilePath" value="\\tn-srv3\travelcardpdf\travelcardworkfiles_test\" />
    <add key="BarCodeSavePath" value="\\\\tn-srv3\\TravelCardPDF\\BarCodes\\" />
    <add key="BarCodeFilePath" value="\\tn-srv3\TravelCardPDF\BarCodes\" />
    <add key="PDFImageFilePath" value="http://tn-sqldevel:3333/contents/images/pdf.gif" />
    <add key="OMIPrintingAppPath" value="http://tn-sqldevel:8888/omiprintingapp_dev/travelcardprint.application"/>
    <add key="NotePadImageFilePath" value="http://tn-sqldevel:3333/contents/images/notepad.png" />
    <add key="ideallogo" value="http://tn-sqldevel:3333/contents/images/ideallogo.jpg" />
    <add key="ReportIdealLogo" value="\\\\tn-srv3.ideal.us.com\\TravelCardPDF\\ReportImages\\ideallogo.jpg" />
    <add key="TravelCardAdmin.AD_GroupName" value="IDEAL\TravelCardAdmin" />
    <add key="TravelCardUser.AD_GroupName" value="IDEAL\TravelCardUser" />
    <add key="TravelCardMaintenance.AD_GroupName" value="IDEAL\TravelCardMaintenance" />
    <add key="TravelCardApprover.AD_GroupName" value="IDEAL\TravelCardApprover" />
    <add key="TestUser" value="" />

 

    <add key="RedLightGreenLightFile" value="\\tn-srv3\TravelCardPDF\Attachments\RedLightGreenLightFiles\" />
    <add key="MachineSetUpInstructions" value="\\tn-srv3\TravelCardPDF\Attachments\MachineSetUpInstructions\" />
    <add key="DrawingFile" value="\\tn-srv3\TravelCardPDF\Attachments\drawingfilePdfs\" />
    <add key="DeviationFile" value="\\tn-srv3\TravelCardPDF\Attachments\deviationFilePdfs\" />
    <add key="QualityAlertFile" value="\\tn-srv3\TravelCardPDF\Attachments\qualityAlertPdfs\" />
    <add key="DieSetUpInstructions" value="\\tn-srv3\TravelCardPDF\Attachments\dieSetUpFileUpPdfs\" />
    <add key="AdditionalFile" value="\\tn-srv3\TravelCardPDF\Attachments\additionalfiles\" />

  </appSettings>



  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="Sample1Entities" connectionString="metadata=res://*/ViewModels.DAL.csdl|res://*/ViewModels.DAL.ssdl|res://*/ViewModels.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Sample1.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Ideal400ConnString" connectionString="DataSource=IDEAL400;userId=smy;password=smy;LibraryList=*USRLIBL;Naming=System" />
    <add name="SysproCompanyIEntities" connectionString="metadata=res://*/Entities.SysproChinaEntities.csdl|res://*/Entities.SysproChinaEntities.ssdl|res://*/Entities.SysproChinaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-SERVER;initial catalog=SysproCompanyI;user id=TravelCardApp;password=Quality1;multipleactiveresultsets=True;Application Name=TravelCard_v1 " />
    <add name="Quality_ConnString" connectionString="metadata=res://*/Entities.Quality.csdl|res://*/Entities.Quality.ssdl|res://*/Entities.Quality.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tn-sqldevel;Initial Catalog=Quality_dev;Persist Security Info=True;User ID=TravelCardAppUser;Password=TCApp4U;MultipleActiveResultSets=True;Application Name=TravelCard_v1'" />
    <add name="ADConnectionString_UserRole" connectionString="LDAP://Smyrna/cn=TravelCardUser,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com" />
    <add name="ADConnectionString_MaintenanceRole" connectionString="LDAP://Smyrna/cn=TravelCardMaintenance,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com" />
    <add name="ADConnectionString_AdminRole" connectionString="LDAP://Smyrna/cn=TravelCardAdmin,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com" />
    <add name="ADConnectionString_ApproverRole" connectionString="LDAP://Smyrna/cn=TravelCardApprover,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com" />




  </connectionStrings>

  

  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->

    <identity impersonate="true"/>
    <authentication mode="Windows" />

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </httpHandlers>
    <authorization>
      <deny users="?" />
      <allow users="ideal\travelcardpdf" />
      <allow roles="ideal\travelcardadmin" />
      <allow roles="ideal\travelcarduser" />
      <allow roles="ideal\travelcardapprover" />
      <allow roles="ideal\travelcardmaintenance" />
      <deny users="*" />


    </authorization>
    <globalization uiCulture="auto" culture="auto" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <remove name="UrlRoutingModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <!--Elmah-->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <!--add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler" /-->
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <!--Elmah-->

      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>

  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow users="ideal\dtinsley,ideal\jbaker,ideal\khardman,ideal\dcrockett"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ErrorLogs" />
    <errorMail from="no-reply-TravelCard_SupportDEV@idealtridon.net"
         to="dtinsley@idealtridon.com,dtinsley91@gmail.com"
         async="true"
         smtpServer="mail.epicorglobal.com"/>
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>

    <security allowRemoteAccess="yes" />
  </elmah>


</configuration>

