<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>


  <configSections>

  </configSections>






  
  <appSettings>
   <add key="userversion" value="Test" />
    <add key="htmltopdf.licensekey" value="" />
   <add key="pdfWorkFilePath" value="\\tn-srv3\travelcardpdf\travelcardworkfiles\"/>
     <add key="BarCodeSavePath" value="\\\\tn-srv3\\TravelCardPDF\\BarCodes\\"/>
    <add key="BarCodeFilePath" value="\\\\tn-srv3\\TravelCardPDF\\BarCodes\\"/>
    <add key="BarCodeFilePath" value="\\\\tn-srv3\\TravelCardPDF\\BarCodes\\" />
    <add key="PDFImageFilePath" value="http://tn-sqldevel:3333/content/images/pdf.gif" />
    <add key="NotePadImageFilePath" value="http://tn-sqldevel:3333/content/images/notepad.png" />
    <add key="ideallogo" value="http://tn-sqldevel:3333/content/images/ideallogo.jpg" />
    <add key="ReportIdealLogo" value="\\\\tn-sqldevel\\c$\\webapps\\reportimages\\ideallogo.jpg"/>
    <add key="TravelCardAdmin.AD_GroupName" value="IDEAL\TravelCardAdmin" />
    <add key="TravelCardUser.AD_GroupName" value="IDEAL\TravelCardUser" />
    <add key="TravelCardMaintenance.AD_GroupName" value="IDEAL\TravelCardMaintenance" />
    <add key="TravelCardApprover.AD_GroupName" value="IDEAL\TravelCardApprover" />
    <add key="TestUser" value="" />
    
  </appSettings>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="Sample1Entities" connectionString="metadata=res://*/ViewModels.DAL.csdl|res://*/ViewModels.DAL.ssdl|res://*/ViewModels.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Sample1.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Ideal400ConnString" connectionString="DataSource=IDEAL400;userId=smy;password=smy;LibraryList=*USRLIBL;Naming=System" />
    <add name="Quality_ConnString" connectionString="metadata=res://*/Entities.Quality.csdl|res://*/Entities.Quality.ssdl|res://*/Entities.Quality.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tn-sqldevel;Initial Catalog=Quality_dev;Persist Security Info=True;User ID=TravelCardAppUser;Password=TCApp4U;MultipleActiveResultSets=True;Application Name=TravelCard_v1'" />
    <add name="ADConnectionString_UserRole" connectionString="LDAP://cn=TravelCardUser,ou=Smyrna Groups,dc=ideal,dc=us,dc=com" />
    <add name="ADConnectionString_MaintenanceRole" connectionString="LDAP://cn=TravelCardMaintenance,ou=Smyrna Groups,dc=ideal,dc=us,dc=com" />
    <add name="ADConnectionString_AdminRole" connectionString="LDAP://cn=TravelCardAdmin,ou=Smyrna Groups,dc=ideal,dc=us,dc=com" />
    <add name="ADConnectionString_ApproverRole" connectionString="LDAP://cn=TravelCardApprover,ou=Smyrna Groups,dc=ideal,dc=us,dc=com" />



  </connectionStrings>




  <system.web>
  <globalization culture="auto" uiCulture="auto" />
 <customErrors mode="Off" />


 
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
  
    <identity impersonate="true" userName="ideal\travelcardpdf" password="P@ssw0rd"  />
    <authentication mode="Windows" />

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

       
     

          
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </httpHandlers>
    <authorization>
<deny users="?" />
      <allow users="ideal\travelcardpdf" />
      <allow roles="ideal\travelcardadmin" />
      <allow roles="ideal\travelcarduser" />
      <allow roles="ideal\travelcardapprover" />
      <allow roles="ideal\travelcardmaintenance" />
            <deny users="*" />
      

    </authorization>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>