<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SysproCompanyIEntities" connectionString="metadata=res://*/Entities.SysproChinaEntities.csdl|res://*/Entities.SysproChinaEntities.ssdl|res://*/Entities.SysproChinaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SC-SERVER;initial catalog=SysproCompanyI;user id=TravelCardApp;password=Quality1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>