<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <!--PDF pages that print out whenever a file associated with the travel card is cannot be located.-->
    <add key="machinesetupfilenotfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\machinesetupfilenotfound.pdf "/>
    <add key="deviationfilenum1notfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\DeviationFileNum1NotFound.pdf "/>
    <add key="deviationfilenum2notfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\DeviationFileNum2NotFound.pdf "/>
    <add key="additionalfilenotfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\AdditionalFileNotFound.pdf "/>
    <add key="drawingfilenotfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\DrawingFileNotFound.pdf "/>
    <add key="greenlightredlightnotfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\GreenLightRedLightNotFound.pdf "/>
    <add key="greenlightredlightnotfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\GreenLightRedLightNotFound.pdf "/>
    <add key="diesetupfilenotfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\DieSetUpFileNotFound.pdf "/>
    <add key="qualityalertfile1notfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\QualityAlertFileNotFound.pdf "/>
    <add key="qualityalertfile2notfound" value="\\tn-srv3\TravelCardPDF\Attachments\FilesNotFound\QualityAlertFile2NotFound.pdf "/>
    <!---End of warning files-->

    <add key="userversion" value="Test"/>
    <add key="htmltopdf.licensekey" value="+dLI2cjZzczI2c/XydnKyNfIy9fAwMDA"/>
    <add key="pdfWorkFilePath" value="\\tn-srv3\travelcardpdf\travelcardworkfiles\"/>
    <add key="pdfWorkFileSavePath" value="\\\\tn-srv3\\travelcardpdf\\travelcardworkfiles\\"/>
    <add key="BarCodeSavePath" value="\\\\tn-srv3\\TravelCardPDF\\BarCodes\\"/>
    <add key="BarCodeFilePath" value="\\tn-srv3\TravelCardPDF\BarCodes\"/>
    <add key="OMIWebAppPath" value="http://tn-sqldevel:9777/"/>
    <add key="PDFImageFilePath" value="http://tn-sqldevel:3333/contents/images/pdf.gif"/>
    <add key="OMIPrintingAppPath" value="\\tn-srv3\TravelCardPDF\TravelCardPrintAppSetUp\TravelCardPrint.application"/>
    <add key="NotePadImageFilePath" value="http://tn-sqldevel:3333/contents/images/notepad.png"/>
    <add key="stylesheetpath" value="http://tn-sqldevel:3333/contents/OMI.css"/>
    <add key="ideallogo" value="http://tn-sqldevel:3333/contents/images/ideallogo.jpg"/>
    <add key="ReportIdealLogo" value="\\\\tn-srv3.ideal.us.com\\TravelCardPDF\\ReportImages\\ideallogo.jpg"/>
    <!--AD Groups-->
    <add key="TravelCardAdmin.AD_GroupName" value="IDEAL\TravelCardAdmin"/>
    <add key="TravelCardUser.AD_GroupName" value="IDEAL\TravelCardUser"/>
    <add key="TravelCardMaintenance.AD_GroupName" value="IDEAL\TravelCardMaintenance"/>
    <add key="TravelCardApprover.AD_GroupName" value="IDEAL\TravelCardApprover"/>
    <add key="RedLightGreenLightFile" value="\\tn-srv3\TravelCardPDF\Attachments\RedLightGreenLightFiles\" />
    <add key="TestUser" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

  </appSettings>
  <connectionStrings>
    <!--Database Connections-->
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="Sample1Entities" connectionString="metadata=res://*/ViewModels.DAL.csdl|res://*/ViewModels.DAL.ssdl|res://*/ViewModels.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Sample1.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Ideal400ConnString" connectionString="DataSource=IDEAL400;userId=smy;password=smy;LibraryList=*USRLIBL;Naming=System"/>
    <add name="Quality_ConnString" connectionString="metadata=res://*/Entities.Quality.csdl|res://*/Entities.Quality.ssdl|res://*/Entities.Quality.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tn-sqldevel;Initial Catalog=Quality;Persist Security Info=True;User ID=TravelCardAppUser;Password=TCApp4U;MultipleActiveResultSets=True;Application Name=TravelCard_v1'"/>
    <add name="ADConnectionString_UserRole" connectionString="LDAP://Smyrna/cn=TravelCardUser,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com"/>
    <add name="ADConnectionString_MaintenanceRole" connectionString="LDAP://Smyrna/cn=TravelCardMaintenance,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com"/>
    <add name="ADConnectionString_AdminRole" connectionString="LDAP://Smyrna/cn=TravelCardAdmin,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com"/>
    <add name="ADConnectionString_ApproverRole" connectionString="LDAP://Smyrna/cn=TravelCardApprover,ou=SmyrnaGroups,dc=ideal,dc=us,dc=com"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
