
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div>
    There has been an error with your role allocation.  Perhaps this user already has been assigned this role?
</div>
<br />
<br />
<div>
    @Html.ActionLink("Return to list", "Index", "AspNetUserRoles", null, new { @class = "btn btn-info" })
</div>



