<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Quality_devEntities" connectionString="metadata=res://*/Entities.Quality.csdl|res://*/Entities.Quality.ssdl|res://*/Entities.Quality.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TN-SQLDEVEL;initial catalog=Quality_dev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>